body {
  font-family: arial;
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main-nav {
  background: #0055A4;
  border-bottom: 3px solid #FFFFFF;
  border-bottom: 3px solid #EF4135;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

#main-nav ul {
  width: 100%;
  margin: 0;
}

#main-nav ul:after {
  content: "";
  display: block;
  clear: both;
}

#main-nav li {
  float: left;
  width: 16.66667%;
}

@media screen and (max-width: 600px) {
  #main-nav li {
    width: 100%;
  }
}

#main-nav a {
  color: #f8f9fb;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
}

#main-nav a:hover {
  background: #0062be;
}

section h1 {
  font-size: 24px;
  color: #0055A4;
}

#overlay {
  position: relative;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.lead-banner {
  width: 100%;
  position: relative;
  color: white;
  text-align: right;
}

.lead-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
}

.lead-banner img {
  width: 100%;
}

.lead-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 3000px) and (min-width: 1200px) {
  .lead-banner span {
    font-size: 60px;
  }
}

.lead-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
}

#main-img {
  width: 100%;
  height: 100vh;
}

.lessons-banner {
  width: 100%;
  position: relative;
  color: white;
}

.lessons-banner .banner-content {
  position: absolute;
  top: 50px;
  width: 100%;
}

.lessons-banner img {
  width: 100%;
}

.lessons-banner span {
  font-size: 46px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 3000px) and (min-width: 1200px) {
  .lessons-banner span {
    font-size: 60px;
  }
}

.lessons-banner span.title {
  font-weight: normal;
  margin-bottom: 30px;
}

.lessons-banner li {
  text-transform: uppercase;
  font-size: 20px;
  max-width: 500px;
  margin: 60px 0;
}

#louvre-img {
  background-image: url("../img/louvre.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 50vh;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#services {
  margin-bottom: 60px;
  /*a {
		text-decoration: none;
		color: $deepBlue;
		font-weight: bold;
		&:hover{
			color: complement($deepBlue);
		}
	}*/
}

#services li {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 33.33333%;
}

#services ul:after {
  content: "";
  display: block;
  clear: both;
}

#projects li {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 23.5%;
}

#projects li:nth-child(4n) {
  margin-right: 0;
}

#projects li img {
  width: 100%;
}
